
.search{
    margin-top: 20px;
    display: flex;
    margin-left: 50px;
}

#input{
    font-size: 30px;
    border-radius: 9px;
}

#but{
    position: relative;
    font-size: 15px;
    cursor: pointer;
    border-radius: 9px;
}